:root{
    --dark:#e98074;
    --light: #eae7dc;
    
  
}



h1 {text-align: center;

}

nav {display: flex;
    justify-content: right;
  

}
  
  


header {
    background-color: var(--dark);
    opacity: 70%;
    position:sticky;
    top: 0;
    flex-wrap: nowrap;
    

}

h2 {margin-top: 50px;


}

body {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    background-color: var(--light);
    color: #3d3d3d;

}

aside {
    flex: 1;
  float: left;
  width: 40px;


}
section {display:flex;


}

.aboutMe {display:flex;
    flex-direction: column;
    align-items: center;
    flex: 3;

   
    
}


img {
    max-width: 40%;
    height: 40%;
    display:inline-block; 

}


#example1 {display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    background-color: var(--dark);
    margin: 5px;
    margin-bottom: 20px;
    width: 30px;
    display:inline-block; 


}

#example2 {display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    background-color: var(--dark);
    margin: 5px;
    margin-bottom: 20px;
    width: 30px;
    display:inline-block; 

}

footer {display: flex;
    background-color: var(--dark);
    opacity: 70%;
    justify-content: center;

}


.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-decoration: none;
}

    .fa:hover {
        opacity: 1;
    }

.fa-twitter {
    background: #55ACEE;
    color: white;

}

 @media (max-width:600px) {

    body { font-size: 1.25rem;
        width: 50%;

    }

header {flex-direction: column;
    background: #772014;


}

footer {  background: #772014;


}

aside {
    order: 2;
 }

}